services:
  mongo:
    image: mongo:7
    container_name: dt4h-mongo
    restart: always
    ports:
      - "6017:27017"
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
    networks:
      - onfhir-network
    volumes:
      - onfhirdata:/data/db
#    deploy:
#      resources:
#        limits:
#          cpus: "2.0"
#          memory: "8G"
#        reservations:
#          cpus: "1.0"
#          memory: "2G"
  onfhir:
    image: srdc/onfhir:r5
    container_name: dt4h-onfhir
    restart: always
    depends_on:
      mongo:
        condition: service_healthy
    healthcheck:
      test: curl --fail http://localhost:8080/fhir/metadata || exit 1
      interval: 10s
      timeout: 10s
      retries: 5            
    environment:
      - APP_CONF_FILE=/usr/local/onfhir/conf/docker/onfhir-docker.conf
      - FHIR_ROOT_URL=http://onfhir:8080/fhir
      - DB_EMBEDDED=false
      - DB_HOST=mongo:27017
    ports:
      - "6080:8080"
    networks:
      - onfhir-network
    volumes:
      - ./common-data-model:/usr/local/onfhir/conf
#    deploy:
#      resources:
#        limits:
#          cpus: "2.0"
#          memory: "8G"
#        reservations:
#          cpus: "1.0"
#          memory: "2G"
networks:
  onfhir-network:
    name: onfhir-network
volumes:
  onfhirdata:
    driver: local